label,input,body,tbody,html,div,canvas,p{
    width:100%;
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
}

.noWrap{
    white-space: nowrap;
}

.underSquareRoot{
    text-decoration:overline;
}

#popup{
    background-color: white;
    border: solid black;
    width: 90%;

    /* Centering the popup */
    position: absolute;
    top: 5%;
    left: 5%;
    /*transform: translateY(-50%)*/
}

.aboutSubtitle{
    text-align: center;
}

ul{
    margin: 0 0 0 20px;
    padding: 0;
}

.closingCross{
    width: auto;
    cursor: default;
    font-weight: bold;

    /*This is because there is an empty bit of space at the top and bottom of this unicode character*/
    padding: 0 5px;

    position: absolute;
    right: 0;
    top: 0;
}

#title{
    display: flex;
    justify-content: center;
}

#content{
    display: flex;
    flex-wrap: wrap;
}

.taskPreview{
    border: solid grey;
    height: 280px;
    width: 277px;
}

#table{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 30px);
}
#fitButtonContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}
button,.taskContainer{
    cursor: pointer;
}
.navigationButton,.inactiveNavigationButton{
    height: 50px;
    width: 200px;
}
.inactiveNavigationButton{
    color: gray;
    pointer-events: none ;
}

.taskContainer,.taskButton{
    width:280px;
}
.taskButton{
    height: 75px;
}


#inputs{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.entry,.legend{
    height: 30px;
    flex-grow: 1;

    display: flex;
    align-items: flex-start;
}
.colourContainer{
    height: 20px;

    display: flex;
    align-items: center;
}
.colour{
    height: 5px;
    width: 60%


}
.blue{
    background-color:blue;
}
.red{
    background-color:red;
}
.green{
    background-color:green;
}
.black{
    background-color: black;
}
.numberInput,.colourContainer{
    --width:60px;
    width: var(--width);
    min-width: var(--width);
}
.inputLabel,.label{
    --width:250px;
    width:var(--width);
    min-width:var(--width);
}
#banner {
    height: 30px;
    display: flex;
    justify-content: space-between;
}
#taskContentGrid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
}

#graph,.outputContainer{
    grid-column: 1;
    flex-grow: 1;
}

.outputContainer{
    display: flex;
}

graph-component{
    flex-grow: 1;
}

#grid1,#grid2{
    flex-grow: 1;
}

h4{
    margin-top:6px;
    text-align: center;
}

#blue{
    background-color: blue;
}
#red{
    background-color: red;
}
#black{
    background-color: black;
}

.leftBracket{
    text-align: right;
}
.rightBracket{
    transform: scale(-1,1);
}

#vectorLabels,#vectors{
    display: flex;
    justify-content: space-around;
}

.vectorEntry{
    text-align: center;
}

#vectors{
    height: 100px;
    align-items: stretch;
}

.vector{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#box{
    border: solid;
    width: 99%;
    aspect-ratio: 1/1;
}

canvas{
    cursor: grab;
}
canvas:active{
    cursor: grabbing;
}

@media (max-width: 800px){
    #graph,.outputContainer{
        grid-column: auto;
        grid-row:auto;
    }
    #inputs{
        grid-column: auto;
        grid-row: auto;
        min-width: auto;
    }
    #taskContentGrid{
        display:inline;
    }
}
@media (max-height: 650px){
    .entry,.legend{
        height: auto;
    }
}
@media (max-height: 350px){
    .entry,.legend{
        height: auto;
    }
    br{
        display: none;
    }
}
